<h1>New User</h1>
<% if session[:errors] %>
  <div class="alert alert-danger">
    <% session[:errors].each do |err| %>
      <%= err %>
    <% end %>
  </div>
  <% session[:errors] = nil %>
<% end %>

<%= form_for :user, url: '/users' do |f| %>
  First Name:<br><%= f.text_field :first_name %><br>
  Last Name:<br><%= f.text_field :last_name %><br>
  Email:<br><%= f.text_field :email %><br>
  Password:<br><%= f.password_field :password %><br>
  Password Confirmation:<br><%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>
