<% @cart_total += item.total_price %>
<h4><%= item.product.name %></h4>
<p><%= item.product.description %></p>
<p>Unit Price: <%= item.product.price %></p>
<p>Quantity: <%= item.quantity %></p>
<p>Total Price: <%= item.total_price %></p>
